@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply text-2xl;
    }
    h2 {
      @apply text-xl;
    }
    h3 {
      @apply text-lg;
    }
  }
  .btn {
    @apply font-medium py-2 px-4 rounded;
  }
  .btn-black {
    @apply bg-black text-white;
  }
  .btn-black:hover {
    @apply bg-white text-black;
  }


  .bg-dot{
    /* background-color: #e5e5f7; */
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #ffc100 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
  }
